<td class="footer" nowrap width="350">

      <!-- @todo gulp-inline-css doesn't parse align -->
      <table class="rbcc footer__2">
        <td class="footer__main__col1__td" align="left">
          <img src="<!-- @echo portrait -->" alt="<!-- @echo logoAltName -->" class="footer__main__col1__td__img" width="83" height="83"/>
          <div class="social-media-icons">
            <a class="social-media social-media-icon1" href="<!-- @echo facebook -->" target="_blank">
              <img src="https://segmentstream.com/images/signatures/facebook.png" width="20" height="20"/>
            </a>
            <a class="social-media social-media-icon2" href="<!-- @echo linkedIn -->" target="_blank">
              <img src="https://segmentstream.com/images/signatures/linkedin.png" width="20" height="20"/>
            </a>
          </div>
        </td>
        <!-- @todo gulp-inline-css doesn't parse align -->
        <td class="footer__main__col2__td" align="left">
          <strong style="color: #000"><!-- @echo name --><br /></strong>
          <span style="font-size: 14px; color: rgba(45, 45, 45, 0.5)"><!-- @echo position --></span><br />
          <div class="footer__main__col2__contacts">
            <!-- @echo contactTel -->
            <!-- <br> -->
            <a href="mailto:<!-- @echo contactMail -->" target="_blank"><!-- @echo contactMail --></a><br />
            <a href="<!-- @echo website -->" target="_blank"><!-- @echo websiteName --></a>
          </div>
          <div class="footer__main__3__td" align="left">
            <a href="<!-- @echo website -->" target="_blank">
              <img src="<!-- @echo logoUrl -->" alt="<!-- @echo logoAlt -->" class="footer__main__3__td__img" width="177" height="35"/>
            </a>
          </div>
        </td>
      </table>
    </tr>

</td>
