<td class="footer">

      <!-- @todo gulp-inline-css doesn't parse align -->
      <table class="rbcc footer__main__col1" align="left">
        <td class="footer__main__col1__td" align="left">
          <img src="<!-- @echo portrait -->" alt="<!-- @echo logoAlt -->" class="footer__main__col1__td__img"/>
        </td>
        <td class="footer__main__col2__td" align="left">
          <strong><!-- @echo name --><br /></strong>
          <span style="font-size: 14px; color: rgba(45, 45, 45, 0.5)"><!-- @echo position --></span><br />
        </td>
      </table>

      <table class="rbcc footer__main__col2" align="left">
        <!-- @todo gulp-inline-css doesn't parse align -->
        <td class="footer__main__col2__td" align="left">
          <a class="social-media" href="<!-- @echo facebook -->">
            <img src="/assets/facebook.png" alt="facebook"/>
          </a>
          <a class="social-media" href="<!-- @echo linkedIn -->">
            <img src="/assets/linkedin.png" alt="linkedIn"/>
          </a>
        </td>
        <td class="footer__main__col2__td" align="left">
          <div class="footer__main__col2__contacts">
            <!-- @echo contactTel --><br />
            <a href="mailto:<!-- @echo contactMail -->" target="_blank"><!-- @echo contactMail --></a><br />
            <a href="<!-- @echo website -->"><!-- @echo websiteName --></a>
          </div>
        </td>
      </table>

      <!-- @todo gulp-inline-css doesn't parse align -->
      <table class="rbcc footer__main__col3" align="right">
        <!-- @todo gulp-inline-css doesn't parse align -->
        <td class="footer__main__col3__td" align="right">
          <a href="<!-- @echo website -->">
            <img src="<!-- @echo logoUrl -->" alt="<!-- @echo logoAlt -->" class="footer__main__col3__td__img"/>
          </a>
        </td>
      </table>
    </tr>

</td>
