/*
 * =====================================
 * 1. Common styles for general table things.
 * =====================================
 */


body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

tr{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
}

.rbcc {
  /*
   * rbcc -> reset - border - cellspacing - cellpading
   *
   * Resets table attributes.
   */
  border:0;
  cellpadding:0;
  cellspacing:0;
}

.background{
  width:100%;
}

.main{
  width:100%;
  background-color: #ffffff;
}

.sp{ /* Separator tr; props are actually contained by it's inner element atm. */ }

.sp__inner{
  padding: 15px 0;
}

.gray-hr{ /* 100% width light grey line; props are actually contained by inner elements atm. */ }

.gray-hr td{
  width: 100%;
}

.gray-hr hr{
  border-bottom:1px solid #E4E4E4;
  border-top:none;
  margin-bottom:20px;
  margin-top:20px;
  color: transparent;
  background:transparent;
}

a{
  text-decoration: none;
  color: #0fade1;
}

/*
 * =================
 * 2. Content styles.
 * ==================
 */
.main__welcome{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.main__content{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}


/*
 * ================
 * 3. Footer styles.
 * ================
 */
.footer{
  border-top: transparent;
  background: transparent;
  padding: 36px 0px 41px 14px;
  color: #2d2d2d;
}

.footer a{
  color: #2d2d2d;
}

.footer--simple{
  padding-bottom: 20px;
  background-color: #FFFFFF;
}

.footer__main__signature{
  font-size: 14px;
  color: #2d2d2d;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col1{
  margin-right: 45px;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}



.footer__1{
  margin-right: 20px;
  margin-bottom: 20px;
}



.footer__main__col1__td{
  font-size: 14px;
  color: #2d2d2d;
  /* @todo gulp-inline-css doesn't parse align */
  vertical-align: top;
  padding-right: 25px;
  min-width: 83px;
}

.footer__main__col1__td__img{
  border-radius: 50%;
}

.footer__main__col1__td .social-media-icons{
  margin-top: 15px;
}

.social-media img {
  margin-top: 0px;
}

.social-media-icons div {
  display: table-cell;
}

.social-media-icon1 {
  margin-right: 5px!important;
}

.footer__main a > span{
  /* Revert apple blue-link style. */
  color: #2d2d2d!important;
  text-decoration:none!important;
}

.footer__main__col2{
  font-size: 16px;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col2__contacts{
  margin-top: 5px;
  line-height: 31px;
  font-size: 13px;
}

.footer__main__col2__td__img{
  border: 0;
  padding-top: 6px;
  padding-left:10px;
}

.footer__main__col2__td strong{
  font-size: 14px;
}

.footer__main__col3{
  width:163px;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col3__td {
  padding-top: 92px;
}

.footer__2 .footer__main__3__td{
  margin-top: 15px;
}
