1. https://docs.segmentstream.com/javascript-sdk/snippet - empty page
2. https://docs.segmentstream.com/javascript-sdk/variables - date updated, incorrect link http://shop1.driveback.ru/?ddm_test_mode=1
3. https://docs.segmentstream.com/javascript-sdk/events#eventNaming - incorrect link "Automatic sending of the Viewed Page event", "is explained in the helper functions section.", " event naming convention"
4. https://docs.segmentstream.com/javascript-sdk/integrations - new first screenshot
5. https://docs.segmentstream.com/javascript-sdk/scripts - incorrect link " helper functions"
6. https://docs.segmentstream.com/javascript-sdk/settings - incorrect link "integration error tracking module"
7. https://docs.segmentstream.com/digitaldata/events - incorrect link "naming convention", "events"
8. https://docs.segmentstream.com/digitaldata/recommendation#thirdPartySystems - incorrect link " third-party system developer guide"
8. https://docs.segmentstream.com/digitaldata/user - incorrect link "session timeout"


/*
 * =====================================
 * 1. Common styles for general table things.
 * =====================================
 */
img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

tr{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
}

.rbcc {
  /*
   * rbcc -> reset - border - cellspacing - cellpading
   *
   * Resets table attributes.
   */
  border:0;
  cellpadding:0;
  cellspacing:0;
}

.background{
  width:100%;
}

.main{
  width:100%;
  background-color: #ffffff;
}

.sp,
body>br:first-child {
   display: none;
}

.sp__inner{
  padding: 15px 0;
}

.gray-hr{ /* 100% width light grey line; props are actually contained by inner elements atm. */ }

.gray-hr td{
  width: 100%;
}

.gray-hr hr{
  border-bottom:1px solid #E4E4E4;
  border-top:none;
  margin-bottom:20px;
  margin-top:20px;
  color: transparent;
  background:transparent;
}

a{
  text-decoration: none;
  color: #0fade1;
}

/*
 * =================
 * 2. Content styles.
 * ==================
 */
.main__welcome{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.main__content{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}


/*
 * ================
 * 3. Footer styles.
 * ================
 */
.footer{
  border-top: transparent;
  background: transparent;
  padding: 36px 0px 41px 14px;
  color: #2d2d2d;
}

.footer a{
  color: #2d2d2d;
}

.footer--simple{
  padding-bottom: 20px;
  background-color: #FFFFFF;
}

.footer__main__signature{
  font-size: 14px;
  color: #2d2d2d;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col1{
  margin-right: 45px;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}



.footer__1{
  margin-right: 20px;
  margin-bottom: 20px;
}



.footer__main__col1__td{
  font-size: 14px;
  color: #2d2d2d;
  /* @todo gulp-inline-css doesn't parse align */
  vertical-align: top;
  padding-right: 25px;
  min-width: 83px;
  text-align: center;
}

.footer__main__col1__td__img{
  border-radius: 50%;
}

.footer__main__col1__td .social-media-icons{
  margin-top: 15px;
}

.social-media img {
  margin-top: 0px;
}

.social-media-icons div {
  display: table-cell;
}

.social-media-icon1 {
  margin-right: 5px!important;
}

.footer__main a > span{
  /* Revert apple blue-link style. */
  color: #2d2d2d!important;
  text-decoration:none!important;
}

.footer__main__col2{
  font-size: 16px;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col2__contacts{
  margin-top: 5px;
  line-height: 31px;
  font-size: 13px;
}

.footer__main__col2__td__img{
  border: 0;
  padding-top: 6px;
  padding-left:10px;
}

.footer__main__col2__td strong{
  font-size: 14px;
}

.footer__main__col3{
  width:163px;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col3__td {
  padding-top: 92px;
}

.footer__2 .footer__main__3__td{
  margin-top: 15px;
}

@media only screen and (max-width:540px){
    .footer__2 .footer__main__col3__td{
      padding-top: 20px!important;
      display: block!important;
    }

    .footer__3 {
      display: none!important;;
    }
  }
@media only screen and (max-width:480px){
  .footer td{
    font-size: 11px!important;
  }

  .footer__main__col2__td{
    text-align: left;
    padding-bottom:20px;
  }

  .footer__main__col2__td__img{
    padding-left:0!important;
  }

  .footer__main__col3__td {
    text-align: left!important;
  }

  .footer__main__col3__td__img {
    max-height: 35px!important;
  }

  .gray-hr hr{
    margin-bottom:10px!important;
    margin-top:10px!important;
  }
}

@media only screen and (min-width:1025px){
  /* After iPad size */
  .body-with-bg{
    background-color: #F1F1F1;
  }

  .body-with-bg .main{
    border:1px solid #E9E9E9!important; /* Sorry! */
    max-width:960px;
    margin:0 auto;
  }

  .background{
    padding:30px;
    background-color: #F1F1F1;
  }
}
